@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans");

:root {
  --text-color: #fff;
  --muted-color: #767676;
  --background-color: #010101;
}

html {
  margin: 0;
}

body {
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  min-height: 100dvh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

header {
  padding: 54px;
}

footer {
  color: var(--muted-color);
  padding: 72px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 14px;
  flex-wrap: wrap-reverse;
}

footer div {
  display: flex;
  gap: 24px;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

h2 {
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  footer div {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 24px;
  }
}
