:root {
  --text-color: #fff;
  --subtext-color: #888;
  --muted-color: #333;
  --background-color: #010101;
}

@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(./assets/SFPRODISPLAYREGULAR.woff) format("woff");
}

html {
  margin: 0;
}

body {
  font-family: "SF Pro Display", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  width: 100%;
  max-width: 1200px;
}

section {
  padding: 0 24px;
}

footer {
  color: var(--muted-color);
  padding: 0 24px;
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 2rem;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--subtext-color);
}
